/*  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --backgroundColor: #fff;
    --foregroundColor: #111;
    --primaryColor: indigo;
    --secondaryColor: #8d4ff8;
    --mainWhite: #fff;
    --grayColor: #999;
    --lightGrayColor: #ddd;
    --borderRadius: 6px;
    --boxShadow: 0 2px 5px rgba(#333, 0.2);
    --mainTransition: all 0.3s linear;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
    transition: all 0.3s ease;
}

/*overall layout*/
main {
    width: 90%;
    margin: 3em auto 0;
    max-width: 1500px;
    color: var(--foregroundColor);
    text-align: left;
}

main section {
    position: relative;
}

.showcase-section {
    display: grid;
    grid-gap: 35px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.product {
    position: relative;
    background: var(--backgroundColor);
    color: var(--foregroundColor);
    box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease;
    display: grid;
    grid: 200px repeat(5, auto)/100%;
}

.product__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 7px solid var(--secondaryColor);
}

.product__info {
    padding: 10px 25px 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
        0 -15px 35px rgba(0, 0, 0, 0.1),
        0 15px 35px rgba(0, 0, 0, 0.1);
    
}

.product__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__prices {
    color: #333;
    display: flex;
    align-items: flex-start;
}

.product__prices span{
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1;
}

.product__prices i{
    font-size: 1.4rem;
    margin-right: 1px;
}

.btn_card {
    padding: .7rem 1rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
}

.add_to_card {
    padding: .7rem 1rem;
    background-color: red;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
    transition: .5s;
}

.btn_card:hover,
.add_to_card:hover {
    transform: scale(1.1);
}

.add_to_card i{
    margin-right: 2px;
}

@media (min-width: 500px) {
    .showcase-section .product {
        width: 100%;
        margin: auto;
        overflow: hidden;
        grid: 340px auto auto/repeat(3, minmax(80px, 1fr));
        grid-gap: 10px;
    }

    .showcase-section .product__image {
        grid-column: span 3;
    }

    .showcase-section .product__info {
        grid-column: span 3;
    }

    .showcase-section .product__buy {
        padding: 15px 20px;
        grid-column: span 3;
    }
}

@media (min-width: 992px) {
    main {
        display: grid;
        grid: min-content auto/minmax(250px, 18%) 1fr;
        grid-gap: 40px;
    }

    .filter-section__wrapper {
        position: relative;
    }

    .filter-section {
        position: sticky;
        top: 30px;
    }

    .showcase-section {
        margin-left: 2em;
    }
}

/*  */

nav {
    background: var(--primaryColor);
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: gold;
}

.navbar li {
    font-size: 1.3rem;
    padding: 15px;
    white-space: nowrap;
}

.navbar__logo a,
.toggle a {
    font-size: 1.3rem;
}

/* Mobile navbar */
.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.navbar__item.user {
    order: 3;
}

.navbar__item {
    width: 100%;
    text-align: center;
    order: 4;
    display: none;
}

.shopping__cart {
    order: 2;
    position: relative;
}

.shopping__cart-items {
    position: absolute;
    top: -3px;
    right: -5px;
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

.navbar__item.active {
    display: block;
}

/* Tablet navbar */
@media all and (min-width: 600px) {
    .navbar {
        justify-content: center;
    }
    .navbar__logo {
        flex: 1;
    }

    .navbar__item.user {
        width: auto;
        order: 2;
        display: block;
    }
    
    .toggle {
        flex: 1;
        text-align: right;
        order: 3;
    }

    .shopping__cart {
        order: 4;
        position: relative;
        text-align: right;
        cursor: pointer;
    }

}

/* Desktop navbar */
@media all and (min-width: 900px) {
    .navbar__item {
        display: block;
        width: auto;
    }

    .toggle {
        display: none;
    }

    .navbar__logo {
        order: 0;
    }

    .navbar__item {
        order: 1;
    }

    .shopping__cart {
        order: 2;
    }

    .user {
        order: 3;
    }

    .navbar__navbar li {
        padding: 15px 10px;
    }

    .navbar__navbar li.user {
        padding-right: 0;
    }
}

/* sidebar */


.sidebar .close__btn {
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: 2rem;
    padding: 0px;
}

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: var(--mainTransition);
    background: rgb(81, 157, 240, 0.5);
    z-index: 2;
    visibility: hidden;
  }
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: var(--primaryColor);
    color: white;
    z-index: 3;
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item div {
    width: 120px;
    height: 90px;
  }

  .cart-item img {
    max-width: 100%;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: white;
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  .clear-cart {
      background-color: red;
  }
  /* --------------- End of Cart ---------------- */

.product__detail{
    padding: 10px;
    text-align: center;
    margin-top: -150px;
    transition: all 1s ease-in-out;
}

.product__detail-btn{
    transition: all 1s ease-in-out;
    padding: .7rem 1rem;
    background-color: indigo;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.1rem;
}

.product__detail a{
    visibility: hidden;
}
  
.product__image {
    transition: transform 1s ease;
}

.product__image:hover > .product__detail{
    margin-top: -70px;
    transition: all 1s ease;
}
  
.product__image:hover{
    transform: scale(1.02);
}
  
.product__image:hover > .product__detail > a{
    visibility: visible;
}


/* carousel */

.carousel-wrapper {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-auto-rows: minmax(400px, auto);
    padding: 0 15%;
    width: 100%;
    background-color: #fff;   
}

.carousel-detail {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 800px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.carousel-detail-item {
  visibility: visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex-shrink: 0;
    position: absolute;
    z-index: 0;
    transition: 0.6s all linear;
}
.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;

}

.carousel-item__image {
  width: 60%;
  height: 100%;
  order: 2;
  align-self: flex-end;
  flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__subtitle {
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: #7E7E7E;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 ;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-size: 13px;
  color: #7e7e7e;
  line-height: 22px;
  margin-bottom: 35px;
}
.carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
    text-decoration: none;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
  }

  .carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: #fff;
    bottom: 0;
  }

  .carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    fill: #5d5d5d;
  }

  .carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
  }

  .carousel__arrow:nth-child(1):after {
    content: '';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
  }

  .active-slide {
    z-index: 1;
    display: flex;
    visibility: visible;
  }

  .active-slide .carousel-item__subtitle,
  .active-slide .carousel-item__title,
  .active-slide .carousel-item__description,
  .active-slide .carousel-item__btn {
    transform: translateY(0);
    opacity: 1;
    transition: 0.6s all ease-in-out;
    visibility: visible;
  }

  .active-slide .carousel-item__image {
    transition: 0.6s all ease-in-out;
    transform: translateX(0);
  }
/* contact */
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}


.wrapper>* {
    padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
    background: var(--primaryColor);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color:white;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
    background: #dcdfea;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: solid 1px var(--primaryColor);
    border-radius: 4px;
}

.contact form textarea {
    resize: none;
}

.contact form button {
    background: var(--primaryColor);
    border: 0;
    color: #e4e4e4;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
    background: #3952a3;
    color: #ffffff;
    outline: 0;
    transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper>* {
        padding: 2em;
    }

    .company-info {
        border-radius: 4px 0 0 4px;
    }

    .contact {
        border-radius: 0 4px 4px 0;
    }

    .company-info h3,
    .company-info ul,
    .brand {
        text-align: left;
    }
}